<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
	</head>
	<body>

	<h1>Color Control</h1>
	<form method='post'>
		<input type='submit' value='All On' name='on'>
		<input type='submit' value='All Off' name='off'>
	
		<br><br>
		<button class="round" style="background:{{ red_status }}" value="Red Toggle" name="red">Red</button>
		<br><br>
		<button class="round" style="background:{{ yellow_status }}" value="Yellow Toggle" name="yellow">Yellow</button>
		<br><br>
		<button class="round" style="background:{{ green_status }}" value="Green Toggle" name="green">Green</button>
	</form>	
	</body>
</html>
